# Домашнее задание по теме «1.5. Обработка данных в Python. Библиотека Pandas»

Выполнил: Алексей Стакун (https://github.com/stakun)

Перевести ваш спарсенный json в формат csv таблицу через pandas.

Для hh.ru:
* Сгруппируйте вакансии по направлениями (DS, DE, Software Engenering, etc.)
* Какая средняя и медианная зарплата по группам вакансий?
* Какая средняя и медианная зарплата по каждому региону?
* Какая самая высокооплачиваемая из групп вакансий, исходя из их средних зарплат?
* Какое процентное соотношение каждого региона по вакансиям от всех вакансий?
* Какая корреляция уровня опыта от зарплаты?
* Сколько должностей в наборе данных?
* Какие 10 наиболее часто встречающихся должностей?

Либо все то же, но для датасета https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries

In [ ]:
# импорт необходимых библиотек

import json
import pandas as pd

## Датасет hh_data

In [ ]:
# открытие исходного датасета из файла json

with open("/content/hh_data.json", "r") as file:
  data = json.load(file)

In [ ]:
# импортируем данные в список

data_list = [] # пустой список для датасета
for i in data["data"]:
  data_list.append([i["title"],i["work experience"],i["salary"],i["region"]])

In [ ]:
# получаем из исходного файла названия колонок датафрейма

data["data"][0].keys()

dict_keys(['title', 'work experience', 'salary', 'region'])

In [ ]:
# импортируем данные в датафрейм Pandas

hh_data = pd.DataFrame(data_list, columns=data["data"][0].keys())
hh_data

,title,work experience,salary,region
0,Python-разработчик систем сбора,1–3 года,от 100 000 до 150 000 руб. на руки,"Москва, Трубная и еще 2"
1,Python-разработчик,1–3 года,з/п не указана,Москва
2,Разработчик Python,3–6 лет,з/п не указана,"Москва, Молодежная"
3,Python разработчик,1–3 года,з/п не указана,Киров (Кировская область)
4,Fullstack Python-разработчик,3–6 лет,от 150 000 до 200 000 руб. на руки,Тюмень
...,...,...,...,...
361,Специалист службы поддержки с техническими зна...,не требуется,от 15 000 руб. на руки,Уссурийск
362,Разработчик 1С УХ,1–3 года,з/п не указана,Москва
363,Руководитель направления предиктивной аналитики,3–6 лет,з/п не указана,Москва
364,"Middle/Senior Data-аналитик команды ""Управлени...",1–3 года,з/п не указана,"Москва, Выставочная и еще 2"
365,Специалист службы поддержки с техническими зна...,не требуется,от 15 000 руб. на руки,Улан-Удэ

## Датасет ds_salaries

In [ ]:
# импортируем данные в датафрейм Pandas

ds_salaries = pd.read_csv('/content/ds_salaries.csv', index_col='Unnamed: 0')
ds_salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

### Описание датасета

Column | Description
---|---
work_year | The year the salary was paid
experience_level | The experience level in the job during the year with the following possible values: EN Entry-level / Junior MI Mid-level / Intermediate SE Senior-level / Expert EX Executive-level / Director
employment_type | The type of employement for the role: PT Part-time FT Full-time CT Contract FL Freelance
job_title | The role worked in during the year
salary | The total gross salary amount paid
salary_currency | The currency of the salary paid as an ISO 4217 currency code
salary_in_usd | The salary in USD (FX rate divided by avg. USD rate for the respective year via fxdata.foorilla.com)
employee_residence | Employee's primary country of residence in during the work year as an ISO 3166 country code
remote_ratio | The overall amount of work done remotely, possible values are as follows: 0 No remote work (less than 20%) 50 Partially remote 100 Fully remote (more than 80%)
company_location | The country of the employer's main office or contracting branch as an ISO 3166 country code
company_size | The average number of people that worked for the company during the year: S less than 50 employees (small) M 50 to 250 employees (medium) L more than 250 employees (large)